
@media (min-width: 769px){
    .main-container{
        display: flex;
        justify-content: space-between;
    }
    .container-left{
        display: flex;
        justify-content: center;
        height: 85vh;
        width: 50%;

    }

    .container-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}

@media (max-width: 768px){
    .main-container{
        text-align: center;
    }
    .container-left{
        display: flex;
        justify-content: center;
        margin-left: auto;
        width: 100%;

    }
    .row-rigth{
        display: none;
    }
}

.title{
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}

.title-color{
    font-size: 65px;
    background: -webkit-gradient(linear, left top, right top, from(#33ffff), to(#86ffd5));
    background: linear-gradient(to right, #33ffff, #86ffd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caption{
    font-size: 20px;
    margin-top: 20px;
}

.row-rigth{
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0;
    right: 40vh;
    background:linear-gradient(to right, #33ffff, #86ffd5);
}

#compras {
    position: absolute;
    top: 10vh;
    right: -15vh;
}