.logo{
    margin-top: 15px;
    height: 70px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 30px;
}

.navbar-left ul,
.navbar-right ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100px;
}

.navbar-left{
    display: flex;
}

.navbar-left ul {
    margin-left: 60px;
}

.navbar-left ul li a,
.navbar-right ul li a{
    color: white;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
}

@media (max-width: 768px){
    nav{
        display: none;
    }
}

.nombre{
    background-color: #293d5d;
    color: #fff;
    border: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

.nombre:hover{
    color: gray;
}