.container-p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }

    .row{
        margin: 10px auto;
    }
}

@media screen and (min-width: 769px) {
    .row{
        margin-left: 50px;
    }
}

.row{
    background-color: #293d5d;
    border-radius: 10px;
    width: 400px;
    height: 410px;
    text-align: center;
}

.img{
    width: 400px;
    height: 350px;
    margin-bottom: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h2{
    color: #fff;
}

h2:hover{
    color: gray;
}

.products-title{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.products{
    margin-bottom: 200px;
}